{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style  = '' -%}
{%- assign text_style  = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if project.style == 'fill' -%}
  {%- assign card_style = project.color | prepend: 'bg-' -%}
  {%- if project.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: project.color -%}
  {%- endif -%}
{%- else -%}
  {%- assign card_style = project.color | prepend: 'border border-' -%}
  {%- if project.color -%}
    {%- assign badge_style =  project.color | prepend: 'badge-' -%}
  {%- endif -%}
{%- endif -%}

<div class="col-lg-6 my-3 wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ project.url }}" class="project card {{ card_style }}" {%- if project.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if project.image -%}
    <img id="{{ project.id }}-img" class="card-img-top" src="{{ project.image }}" alt="{{ project.name }}" />
    {%- endif -%}
    <div class="card-body {{ text_style }}">
      <h3 id="{{ project.id }}-name" class="card-title">
        {%- if project.type == "remote" -%}
        <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
        {%- endif -%}
        {{ project.name }}
      </h3>
      <p id="{{ project.id }}-tools" class="card-text">
        {%- for tool in project.tools -%}
        <span class="badge {{ badge_style }} ml-1">{{ tool }}</span>
        {%- endfor -%}
      </p>
      <p id="{{ project.id }}-desc" class="card-text">
        {%- if project.description -%}
        {{ project.description }}
        {%- else -%}
        {{ project.content | truncatewords: 25, "<small><i>  read more...</i></small>" }}
        {%- endif -%}
      </p>
    </div>
    <div class="card-footer {{ text_style }}">
      {{ project.date | date_to_long_string }}
    </div>
  </a>
</div>