$primary:   #C295D8;
$secondary: #E4A3D4;
$success:   #9DBC98;
$info:      #51829B;
$warning:   #FFD966;
$danger:    #D37676;
$light:     #f8f9fa;
$dark:      #41444B;

$text-black: #52575D;
$text-white: rgba(white, .9);

$rounded-borders: 15px;