---
---
// body {
//   width: 105%;
// }
body {
    background-color: #F5EEE6
}
/* Add this to your main CSS file */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #51829B;
    color: #f8f9fa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #9DBC98;
}

.skills-container {
    text-align: center;
    margin-top: 50px;
}
.skills-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.skill {
    position: relative;
    margin: 30px;
    background-color: whitesmoke;
}
.skills-row img {
    height: 80px;
    transition: transform 0.3s ease-in-out;
}
.skills-row img:hover {
    transform: scale(1.2);
}
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position the tooltip above the image */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.skill:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


@import "portfolYOU";