<div class="col-lg">

  <h2 class="mb-3">{{ include.title }}</h2>
  
  <table class="custom-table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Skills</th>
      </tr>
    </thead>
    <tbody>
      {% assign advanced_skills = include.source | where: "level", "adv" %}
      {% assign intermediate_skills = include.source | where: "level", "inter" %}
      {% assign good_skills = include.source | where: "level", "good" %}

      {% if advanced_skills.size > 0 %}
      <tr>
        <td>Advanced</td>
        <td>
          {% for skill in advanced_skills %}
            {{ skill.name }}{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endif %}

      {% if advanced_skills.size > 0 %}
      <tr>
        <td>Intermediate</td>
        <td>
          {% for skill in intermediate_skills %}
            {{ skill.name }}{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endif %}

      {% if advanced_skills.size > 0 %}
      <tr>
        <td>Good</td>
        <td>
          {% for skill in good_skills %}
            {{ skill.name }}{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      
    </tbody>
  </table>

  <!-- <div class="row">
    <div class="col-6">
      {% assign start_index = include.source.size | divided_by: 2 %}
      {% for skill in include.source offset: start_index %}
        <div class="row justify-content-between align-items-center">
          <div class="col-10">
            <p class="mb-1">{{ skill.name }}</p>
          </div>
          <div class="col-2 text-right">
            <p class="mb-1 text-muted">
              {% if skill.percentage >= 70 %}
                Adv
              {% elsif skill.percentage >= 45 and skill.percentage < 70 %}
                Med
              {% else %}
                Good
              {% endif %}
            </p>
          </div>
        </div>
        <div class="progress mb-4 bg-themed" style="height: 8px;">
          <div class="progress-bar bg-{{ skill.color | default: "primary" }} wow animated slideInLeft"
            data-wow-delay="{{ forloop.index | divided_by: 20.0 }}"
            role="progressbar"
            style="width: {{ skill.percentage }}%;"
            aria-valuenow="{{ skill.percentage }}"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>
      {% endfor %}
    </div>
    
    <div class="col-6">
      {% assign half_length = include.source.size | divided_by: 2 %}
      {% for skill in include.source limit: half_length %}
        <div class="row justify-content-between align-items-center">
          <div class="col-10">
            <p class="mb-1">{{ skill.name }}</p>
          </div>
          <div class="col-2 text-right">
            <p class="mb-1 text-muted">
              {% if skill.percentage >= 70 %}
                Adv
              {% elsif skill.percentage >= 45 and skill.percentage < 70 %}
                Med
              {% else %}
                Good
              {% endif %}
            </p>
          </div>
        </div>
        <div class="progress mb-4 bg-themed" style="height: 8px;">
          <div class="progress-bar bg-{{ skill.color | default: "primary" }} wow animated slideInLeft"
            data-wow-delay="{{ forloop.index | divided_by: 20.0 }}"
            role="progressbar"
            style="width: {{ skill.percentage }}%;"
            aria-valuenow="{{ skill.percentage }}"
            aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>
      {% endfor %}
    </div>
  </div> -->

</div>